{% extends 'base/base.html' %}

{% block content %}
	<h4> Tareas/Alertas </h4>
	<div class="row">
		<div class="col-lg-6">
			<div class="alert alert-dismissible alert-success">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
			</div>
		</div>
		<div class="col-lg-6">
			<div class="alert alert-dismissible alert-danger">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
			</div>
		</div>
	</div>
{% endblock %}
