
{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{% include 'home/leftpanel.html' %}

<!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        {% include 'home/header.html' %}
        
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
            <div class="card" >

            
            	<div class="row page-titles" >
                    <div class="col-md-5 align-self-center" >
                        <strong class="card-title col-sm-8"><h3> Perfil</h3></strong>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active">Perfil</li>
                        </ol>
                    </div>
                    
                </div>
            
                <div class="row" >
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card" >
                            <div class="card-body">
                                <center class="m-t-30" > <img src="{{ user.profile.image.url }}" class="img-circle" width="150" />
                                    <h4 class="card-title m-t-10">{{ user.username }}</h4>
                                    <h6 class="card-subtitle">{{ user.email }}</h6>
                                    
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card" >
                            <!-- Tab panes -->
                            <div class="card-body">
                                <form method="POST" class="form-horizontal form-material">
                                	{% csrf_token %}
                                    <div class="form-group">
                                        {{ u_form|crispy }}
              							{{ p_form|crispy }}
                                    </div>
                                    
                                                                       
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-secondary">Actualizar Perfil</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                
                
            </div>    
			</div>
            <!-- .animated -->
        </div>
        
        
    </div>
    <!-- /#right-panel -->
{% endblock content %}



