{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
	
	<div class="">
	<div class="card">
		<div class="card-header">
			<strong class="card-title">Registrar Ficha Vacuna</strong>
		</div>
	<form method="POST">{% csrf_token %}
		<table class ="table table-hover">
			<tr>
			{% for field in form %}
			<th>{{field|as_crispy_field}}</th>	
			{% endfor%}
			</tr>
			<tr>
			<th>Accion <p>
			<button type="submit" class="btn btn-outline-success btn-lg">
			Registrar
			</button>
			</p></th>
			</tr>
		</table>
	</form>
	</div>
	</div>

		<div class="animated fadeIn">
			<div class="card">
			<div class="card-header">
                        <strong class="card-title">Tabla ficha vacuna</strong>
                    </div>
			<div class="card-body"> 
			<table id="bootstrap-data-table" class="table table-hover table-striped table-bordered">
				<thead class="thead-dark">
				<tr>
			  	<th >Id</th>
			  	<th >Nombre de ficha vacuna</th>
			  	<th >Nro de dias de tratamiento</th>
			  	<th >Frecuencia al dia</th>
			  	<th >Dosis por toma</th>
			  	<th >Fecha inicio</th>
			  	<th >Cerdo</th>
			  	<th >Vacuna</th>
			  	<th >Decisiones</th>
				</tr>
		  	</thead>
			{% if ficha_vacuna %}
		  	<tbody>
				{% for allficha_vacuna in ficha_vacuna %}
					<tr>
			  		<td>{{ allficha_vacuna.id}}</td>
			  		<td>{{ allficha_vacuna.nombre_fichavet}}</td>
			  		<td>{{ allficha_vacuna.dias_tratamiento}}</td>
			  		<td>{{ allficha_vacuna.frecuencia_xdia}}</td>
			  		<td>{{ allficha_vacuna.dosis_xtoma}}</td>
			  		<td>{{ allficha_vacuna.fecha_inicio}}</td>
			  		<td>{{ allficha_vacuna.cerdo}}</td>
			  		<td>{{ allficha_vacuna.vacuna}}</td>
					<td>
					<a href="{% url 'editar_ficha_vacuna' pk=allficha_vacuna.pk %}">
					<button type="button" class="btn btn-outline-warning">Editar</button>
					</a>
					<a href="{% url 'eliminar_ficha_vacuna' pk=allficha_vacuna.pk%}">
					<button type="button" class="btn btn-outline-danger">Eliminar</button>
					</a>
					<a href="{% url 'visualizar_ficha_vacuna' pk=allficha_vacuna.pk%}">
					<button type="button" class="btn btn-outline-secondary">Ver Reporte</button>
					</a>
					</td>
				</tr>
				{% endfor%}
				{% else %}
				<h1> No hay registros de ficha vacuna </h1>
				{% endif%}
		  	</tbody>
			</table>
			</div>
			</div>
		</div>
		<div class="clearfix"></div>
{% endblock %}
