{% load crispy_forms_tags %}
{% load static %}
  
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Registrar Personal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  action="{% url 'editarPersonal' personal.pk %}" method="POST">
       {%csrf_token%}		
						    	
      <div class="modal-body mx-3">
      {{form|crispy}}
      {% block content %}{% endblock %}
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-success btn-lg btn-block">registrar</button>
      </div>
      </form>
    </div>
  </div>
  
<script>
$(function(){
	$('input, textarea, select').addClass('form-control');
	$('input[type="checkbox"]').removeClass('form-control');

    $('form').on('submit', function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $('form').serialize(),
            success: function(data){
            	$('.modal-dialog').replaceWith(data);
            }
        });
    });
});
</script>
