<div class="modal-dialog modal-lg">
    <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Personal</h4>
              </div>
              <div class="modal-body">
                  <p>El personal ha sido eliminado</p>
                  <script>
                    setTimeout(function() { jQuery('#modalEditForm').modal('hide'); }, 1000);
                    $('body').on('hidden.bs.modal', '.modal', function () {
                        $(this).removeData('bs.modal');
                        location.reload(true);
                    });
                  </script>
              </div>
              <div class="modal-footer">
              </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
