{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Registrar Personal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="p_form" action="{% url 'registrarPersonal' %}" method="POST">
       {%csrf_token%}		
						    	
      <div class="modal-body mx-3">
      {{form|crispy}}
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-outline-success btn-lg btn-block">registrar</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="headfix bg-secondary navbar" >
    <!-- creacione de botones-modals-->
    <div class="container">
    <div class="col-md-8 offset-md-8 col-sm-8 align-self-center">
		<a href="" class="btn  btn-primary btn-lg btn-rounded" 
        data-toggle="modal" data-target="#modalRegisterForm"> Registrar Personal</a>
                    		
	</div>
    </div>
</div>

<div class="bs-docs-section">
            <div class=card>
                <form method="POST">{% csrf_token%}
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Tabla de Personal</h6>
                    <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" 
                        id="dropdownMenuLink" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-bars btn-primary"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" 
                        aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Acción:</div>
                      <button class="dropdown-item"
                              formaction="">
                                Determinar Galpon
                      </button>
                      <a class="dropdown-item" href="#">Inseminar</a>

                      
                      <!--div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">dd</a-->
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered tests">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                <input type="checkbox"
                                            onClick="toggle(this)"/>ID</th>
			  	<th >Nombre</th>
				<th >Fecha ingreso</th>
				<th >Fecha salida</th>
				<th >Acción</th>
                          
                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for allpersonal in personal %}
								<tr>
						  		<td><input type="checkbox" name="personal" id="option{{allpersonal.id}}" value={{allpersonal.pk}} />{{ allpersonal.id}}</td>
						  		<td>{{ allpersonal.nombre}}</td>
						  		<td> {{ allpersonal.fecha_ingreso }}</td>
						  		<td>{{ allpersonal.fecha_salida}}</td>
								<td>
								<a class="btn btn-outline-warning openModal" href="javascript:void(0);" rel="{% url 'editarPersonal' allpersonal.pk %}" data-toggle="modal" data-target="#modalEditForm" >
								Editar 
								</a>
								
								
								<a class="btn btn-outline-danger openModal" href="javascript:void(0);" rel="{% url 'eliminarPersonal' allpersonal.pk%}" data-toggle="modal" data-target="#modalEditForm">
								Eliminar
								</a>
								<a class="btn btn-outline-secondary" href="{% url 'visualizarPersonal' allpersonal.pk%}">Visualizar</a>
								
								<a class="btn btn-outline-primary openModal" href="javascript:void(0);" rel="{% url 'asignarCluster' allpersonal.pk %}" data-toggle="modal" data-target="#modalEditForm" >
		Asignar Galpon
		</a>
								</td>
								
							</tr>
							{% endfor%}
                        </tbody>
                    </table>
                    
                </div>
                </form>
            </div>

   
</div>


{% endblock %}

