{% load static %}
<!-- Header-->
        <header id="header" class="header "  >
            <div class="top-left  ">
                <div class="navbar-header " >
                    <a class="navbar-brand"   href="./"><img src="{% static 'home/images/logos.png' %}" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="{% static 'home/images/logos.png' %}" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right " >
                <div class="header-menu ">
                    <div class="header-left">
                    	
          <!-- Topbar Search -->
          			<div class="dropdown">
					  <form class="search-form d-none d-sm-inline-block mr-auto mr-sm-12 navbar-search" action="{% url 'search' %}" method="get">
						<div class="input-group">
						  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" name="q" value="{{ request.GET.q }}" >
						    <button type="submit" class="btn btn-primary" id="id_search"><i class="fa fa-search"></i></button>
						</div>
					  </form>
                    <!--search-->
                      </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="{% url 'profile' %}" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{{ user.profile.image.url }}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="{% url 'profile'%}"><i class="fa fa- user" id='perfil'>Perfil</i></a>

                            <a class="nav-link" href="{% url 'profile' %}"><i class="fa fa- user"></i>Notificaciones <span class="count">13</span></a>

                            <a class="nav-link" href="{% url 'profile' %}"><i class="fa fa -cog"></i>Configuración</a>

                            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power -off"></i>Cerrar Sesion</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
