{% load static%}
<!-- Left Panel -->
    <aside id="left-panel" class="left-panel " >
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'home' %}" id='id-home'>Home </a>
                    </li>
                    <li class="menu-title">Filtro</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon ">año</i></a>
                        <ul class="sub-menu children dropdown-menu">                            
                        	<li><i class="fa "></i><a href="#">2010</a></li>
                            <li><i class="fa "></i><a href="#">2011</a></li>
                            <li><i class="fa "></i><a href="#">2012</a></li>

                            <li><i class="fa "></i><a href="#">2013</a></li>
                            <li><i class="fa "></i><a href="#">2014</a></li>
                            <li><i class="fa "></i><a href="#">2015</a></li>
                            <li><i class="fa "></i><a href="#">2016</a></li>
                            <li><i class="fa "></i><a href="#">2017</a></li>
                            <li><i class="fa "></i><a href="#">2018</a></li>
                            <li><i class="fa "></i><a href="#">2019</a></li>
                        </ul>
                    </li>
                    
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon">mes</i></a>
                        <ul class="sub-menu children dropdown-menu">                            
                        	<li><i class="fa "></i><a href="#">enero</a></li>
                            <li><i class="fa "></i><a href="#">Febrero</a></li>
                            <li><i class="fa "></i><a href="#">Marzo</a></li>

                            <li><i class="fa "></i><a href="#">Abril</a></li>
                            <li><i class="fa "></i><a href="#">Mayo</a></li>
                            <li><i class="fa "></i><a href="#">Junio</a></li>
                            <li><i class="fa "></i><a href="#">Julio</a></li>
                            <li><i class="fa "></i><a href="#">Agosto</a></li>
                            <li><i class="fa "></i><a href="#">Setiembre</a></li>
                            <li><i class="fa "></i><a href="#">Octubre</a></li>
                        </ul>
                    </li>
                    
                    <li class="menu-title">Administración</li><!-- /.menu-title -->
                    
                   <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon">Registrar</i></a>
                        <ul class="sub-menu children dropdown-menu">
                        	{% if user.is_superuser %}                            
                        	<li><i class="fa "></i><a href="{% url 'register' %}">Registrar Cliente</a></li>
                            <li><i class="fa "></i><a href="{% url 'register' %}">Registrar Trabajador</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon">Administrar</i></a>
                        <ul class="sub-menu children dropdown-menu">                            
                        	<li><i class="fa "></i><a href="#">Administrar Cliente</a></li>
                            <li><i class="fa "></i><a href="#">Administrar Trabajador</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
