{% load static %}
<!-- Right Panel -->
    <div id="right-panel" class="right-panel ">
        {% include 'home/header.html' %}
        
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                
              	<div class="row">

                    <div class="col-md-12">
                    
                    {% include 'home/tabla.html' %}
                    
                    
                    </div>


                </div> 
                
                
              
            </div>
            <!-- .animated -->
        </div>
        
        
    </div>
    <!-- /#right-panel -->
