{% load static %}

<div class="card" style="background-color:#FF8000;">
<form  id="download_form">
                            <div class="card-header row" >
                                <strong class="card-title col-sm-8"> Lista de Facturas</strong>
                                <button type="submit" class="btn btn-outline-secondary col-sm-2">Descargar</button>
                                <button type="button" class="btn btn-outline-secondary col-sm-2">Enviar</button>
                            </div>
                                                        
                            <div class="card-body" style="background-color:#F3E2A9;">
                                
                                <table id="bootstrap-data-table" class="table table-striped table-bordered" >
                                     
                                     <thead class="thead-dark">
                                        <tr>
                                        	<th scope="col">Check</th>
                                            <th>Nro de Factura</th>
                                            <th>Fecha</th>
                                            <th>RUC</th>
                                            <th>Mostrar</th>
                                            <th>Descarga</th>
                                            
                                        </tr>
                                    </thead >
                                    <tbody>
                                    
                                         
                                         {% for post in posts %}
                                        <tr>
                                        	<td scope="row">
                                            
                                            <input type="checkbox" data-url="{% static post.getXML %}" />
                                            </td>
                                            <td>{{ post }}</td>
                                            <td>{{ post.getFecha }}</td>
                                            <td>{{ post.getRUC }}</td>
                                            <td>
                                            <a class="btn btn-outline-secondary mt-0 pt-0  m-2"  href="{% static post.getdirPDF %}"  download type="submit">ver</a>
                                            </td>
                                            <td>
                                            <a class="btn btn-outline-secondary mt-0 pt-0  m-2"href="{% static post.getXML %}"download type="submit">descargar</a>
                                            </td>
                                            

                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                    {% if is_paginated %}
                                	<div class="align-content-center" >
                                	<center >
                                	{% if page_obj.has_previous %}
        								<a class="btn btn-outline-info mb-4 page-link" href="?page=1" aria-controls="bootstrap-data-table">First</a>
										<a class="btn btn-outline-info mb-4 page-link" href="?page={{ page_obj.previous_page_number }}" aria-controls="bootstrap-data-table">Previous</a>
									{% endif %}

									{% for num in page_obj.paginator.page_range %}
										{% if page_obj.number == num %}
										  	<a class="btn btn-info mb-4 page-link" href="?page={{ num }}" aria-controls="bootstrap-data-table">{{ num }}</a>
										{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
										  	<a class="btn btn-outline-info mb-4 page-link" href="?page={{ num }}" aria-controls="bootstrap-data-table">{{ num }}</a>
										{% endif %}
									{% endfor %}

									{% if page_obj.has_next %}
										<a class="btn btn-outline-info mb-4 page-link" href="?page={{ page_obj.next_page_number }}" aria-controls="bootstrap-data-table">Next</a>
										<a class="btn btn-outline-info mb-4 page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-controls="bootstrap-data-table">Last</a>
									{% endif %}
									</center>
									</div>
							  		{% endif %}
							  	
                                </table>



                            </div>
                                </form>
                        </div>
